@model TelefonRehberiNuevo.DTO.EEntity.EKisiDetayDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kisiler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayText("Departmanı")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmanAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yoneticisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YoneticiAdi)
        </dd>

        <dt>
            @Html.DisplayText("Rol")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Kisiler")
</p>
